In [1]:
import pandas as pd
import datetime
import pymongo
import json
from bson import Binary, Code, json_util, ObjectId
from bson.json_util import dumps, RELAXED_JSON_OPTIONS
import pygeoj
import os
import itertools 
import numpy as np
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from us import states

# Create a Mongo Connection

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.education_data

# Scrape graduation rate data

In [3]:
# files
rootdir = './data/4YearGraduation'

# lists defined
districts_list = []
years = ['2018','2015','2014','2016','2017']

# for loop to get all files
for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        data = os.path.join(subdir, file)
        districts_list.append(data)
#         districts_list.sort()
districts_list.pop(0)
# districts_list.reverse()
grad_df=[]
#  add all 4 year graduation from 2013 to 2018 to mongod
for (file, year) in zip(districts_list, years):
    data = file
#     defined variables labels
    grad_label = "grad_"+ year
    df_label = grad_label +"_df"
    
#     Read data & add to dataframe
    grad_label = pd.read_csv(data)
    df_label = pd.DataFrame(grad_label)

#     replace * with 0
    df_label['FOUR_YR_GRAD_RATE'] = df_label['FOUR_YR_GRAD_RATE'].str.replace('*','0')
    df_label['FOUR_YR_ADJ_COHORT_COUNT'] = df_label['FOUR_YR_ADJ_COHORT_COUNT'].str.replace('*','0')
    df_label['GRADUATED_COUNT'] = df_label['GRADUATED_COUNT'].str.replace('*','0')
    df_label['FOUR_YR_GRAD_RATE'] = df_label['FOUR_YR_GRAD_RATE'].str.replace('-','0')
    df_label['FOUR_YR_ADJ_COHORT_COUNT'] = df_label['FOUR_YR_ADJ_COHORT_COUNT'].str.replace('-','0')
    df_label['GRADUATED_COUNT'] = df_label['GRADUATED_COUNT'].str.replace('-','0')
    # set previous change to numeric (int)
    df_label['FOUR_YR_GRAD_RATE'] = pd.to_numeric(df_label['FOUR_YR_GRAD_RATE'])
    df_label['FOUR_YR_ADJ_COHORT_COUNT'] = pd.to_numeric(df_label['FOUR_YR_ADJ_COHORT_COUNT'])
    df_label['GRADUATED_COUNT'] = pd.to_numeric(df_label['GRADUATED_COUNT'])
    grad_df.append(df_label)
    
frame = pd.concat(grad_df, axis=0, ignore_index=True)

frame = frame.filter(['YEAR','COUNTY_NAME', 'DISTRICT_NAME','SCHOOL_NAME','SUBGROUP','FOUR_YR_ADJ_COHORT_COUNT','FOUR_YR_GRAD_RATE','GRADUATED_COUNT'])
frame['YEAR']=frame['YEAR'].astype(int)

frame = frame.sort_values(by=['YEAR'])
frame

C:\Users\rsram\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,YEAR,COUNTY_NAME,DISTRICT_NAME,SCHOOL_NAME,SUBGROUP,FOUR_YR_ADJ_COHORT_COUNT,FOUR_YR_GRAD_RATE,GRADUATED_COUNT
0,2014,ATLANTIC,ATLANTIC CITY,ATLANTIC CITY HIGH SCHOOL,White,113,82.30,93
5083,2014,MORRIS,MADISON BORO,Districtwide Total,Economically Disadvantaged,0,0.00,0
5082,2014,MORRIS,MADISON BORO,Districtwide Total,Limited English Proficiency,0,0.00,0
5081,2014,MORRIS,MADISON BORO,Districtwide Total,Two or More Races,0,0.00,0
5080,2014,MORRIS,MADISON BORO,Districtwide Total,Native Hawaiian,0,0.00,0
5079,2014,MORRIS,MADISON BORO,Districtwide Total,American Indian,0,0.00,0
5078,2014,MORRIS,MADISON BORO,Districtwide Total,Asian,0,0.00,0
5077,2014,MORRIS,MADISON BORO,Districtwide Total,Hispanic,0,0.00,0
5076,2014,MORRIS,MADISON BORO,Districtwide Total,Black,0,0.00,0
5075,2014,MORRIS,MADISON BORO,Districtwide Total,White,181,98.34,178
5074,2014,MORRIS,MADISON BORO,MADISON HIGH SCHOOL,Schoolwide,223,95.96,214
5073,2014,MORRIS,MADISON BORO,MADISON HIGH SCHOOL,Students with Disability,0,0.00,0
5072,2014,MORRIS,MADISON BORO,MADISON HIGH SCHOOL,Economically Disadvantaged,0,0.00,0
5071,2014,MORRIS,MADISON BORO,MADISON HIGH SCHOOL,Limited English Proficiency,0,0.00,0
5070,2014,MORRIS,MADISON BORO,MADISON HIGH SCHOOL,Two or More Races,0,0.00,0
5069,2014,MORRIS,MADISON BORO,MADISON HIGH SCHOOL,Native Hawaiian,0,0.00,0
5068,2014,MORRIS,MADISON BORO,MADISON HIGH SCHOOL,American Indian,0,0.00,0
5067,2014,MORRIS,MADISON BORO,MADISON HIGH SCHOOL,Asian,0,0.00,0
5066,2014,MORRIS,MADISON BORO,MADISON HIGH SCHOOL,Hispanic,0,0.00,0
5065,2014,MORRIS,MADISON BORO,MADISON HIGH SCHOOL,Black,0,0.00,0
5064,2014,MORRIS,MADISON BORO,MADISON HIGH SCHOOL,White,181,98.34,178
5063,2014,MORRIS,KINNELON BORO,Districtwide Total,Districtwide,185,97.30,180
5062,2014,MORRIS,KINNELON BORO,Districtwide Total,Students with Disability,0,0.00,0
5061,2014,MORRIS,KINNELON BORO,Districtwide Total,Economically Disadvantaged,0,0.00,0
5060,2014,MORRIS,KINNELON BORO,Districtwide Total,Limited English Proficiency,0,0.00,0
5059,2014,MORRIS,KINNELON BORO,Districtwide Total,Two or More Races,0,0.00,0
5084,2014,MORRIS,MADISON BORO,Districtwide Total,Students with Disability,0,0.00,0
5085,2014,MORRIS,MADISON BORO,Districtwide Total,Districtwide,223,95.96,214
5086,2014,MORRIS,MONTVILLE TWP,MONTVILLE TOWNSHIP HIGH SCHOOL,White,252,98.41,248
5087,2014,MORRIS,MONTVILLE TWP,MONTVILLE TOWNSHIP HIGH SCHOOL,Black,0,0.00,0
...,...,...,...,...,...,...,...,...
34745,2018,ESSEX,NUTLEY TOWN,NUTLEY HIGH SCHOOL,Native Hawaiian or Pacific Islander,0,0.00,0
34746,2018,ESSEX,NUTLEY TOWN,NUTLEY HIGH SCHOOL,Two or More Races,0,0.00,0
34747,2018,ESSEX,NUTLEY TOWN,NUTLEY HIGH SCHOOL,Economically Disadvantaged,35,91.43,32
34748,2018,ESSEX,NUTLEY TOWN,NUTLEY HIGH SCHOOL,Students with Disabilities,50,84.00,42
34749,2018,ESSEX,NUTLEY TOWN,NUTLEY HIGH SCHOOL,English Learners,0,0.00,0
34750,2018,ESSEX,NUTLEY TOWN,NUTLEY HIGH SCHOOL,Homeless,0,0.00,0
34733,2018,ESSEX,NEWARK CITY,District Total,Students with Disabilities,331,65.56,217
34732,2018,ESSEX,NEWARK CITY,District Total,Economically Disadvantaged,1769,75.52,1336
34731,2018,ESSEX,NEWARK CITY,District Total,Two or More Races,0,0.00,0
34730,2018,ESSEX,NEWARK CITY,District Total,Native Hawaiian or Pacific Islander,0,0.00,0
34712,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,Hispanic,260,66.54,173
34713,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,Asian,0,0.00,0
34714,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,American Indian or Alaska Native,0,0.00,0
34715,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,Native Hawaiian or Pacific Islander,0,0.00,0
34716,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,Two or More Races,0,0.00,0
34717,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,Economically Disadvantaged,184,68.48,126
34718,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,Students with Disabilities,14,57.14,8
34719,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,English Learners,79,73.42,58
34710,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,White,0,0.00,0
34720,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,Homeless,0,0.00,0
34722,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,Male,198,61.62,122
34723,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,Female,144,70.14,101
34724,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,Schoolwide,342,65.20,223
34725,2018,ESSEX,NEWARK CITY,District Total,White,209,82.78,173
34726,2018,ESSEX,NEWARK CITY,District Total,Black or African American,1373,75.24,1033
34727,2018,ESSEX,NEWARK CITY,District Total,Hispanic,0,0.00,0
34728,2018,ESSEX,NEWARK CITY,District Total,Asian,25,96.00,24
34729,2018,ESSEX,NEWARK CITY,District Total,American Indian or Alaska Native,0,0.00,0
34721,2018,ESSEX,NEWARK CITY,Barringer Academy of S.T.E.A.M.,Foster Care,0,0.00,0
41984,2018,State Total,State Total,State Total,Statewide Total,106646,90.91,96955

# Scrape school budget data

In [4]:
# files
rootdir = './data/district'

# lists defined
budget_list = []
years = ['2017_2018','2016_2017','2015_2016','2014_2015','2013_2014']

# for loop to get all files
for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        data = os.path.join(subdir, file)
        budget_list.append(data)
        budget_list.sort()
        budget_list.reverse()
        

df_budget=[]
#  add all 4 year graduation from 2013 to 2018 to mongod
for (file, year) in zip(budget_list, years):
    data = file
#     defined variables labels
    budget_label = "district_budget"+ year
    df_label = budget_label +"_df"    
    
#     Read data & add to dataframe
    grad_label = pd.read_csv(data)
    df_label = pd.DataFrame(grad_label)
    df_label = df_label.filter(['YEAR','COUNTY_NAME', 'DISTRICT_NAME','TOTAL'])
    df_label = df_label.rename(index=str, columns={"TOTAL": "DISTRICT_BUDGET"})
#     df["a"] = pd.to_numeric(df["a"])
#     df_label["YEAR"] = pd.to_numeric(df_label["YEAR"])
    df_budget.append(df_label)

frame_budget = pd.concat(df_budget, axis=0, ignore_index=True)
frame_budget['YEAR']=frame_budget['YEAR'].astype(int)

frame_budget = frame_budget.sort_values(by=['YEAR'])

budget_df = pd.merge(frame_budget,
                frame,
                how='inner',
                on=['YEAR', 'COUNTY_NAME', 'DISTRICT_NAME'])

budget_df
#print(len(frame_budget))

,YEAR,COUNTY_NAME,DISTRICT_NAME,DISTRICT_BUDGET,SCHOOL_NAME,SUBGROUP,FOUR_YR_ADJ_COHORT_COUNT,FOUR_YR_GRAD_RATE,GRADUATED_COUNT
0,2014,CAPE MAY,WILDWOOD CITY,5169720,WILDWOOD HIGH SCHOOL,Native Hawaiian,0,0.00,0
1,2014,CAPE MAY,WILDWOOD CITY,5169720,WILDWOOD HIGH SCHOOL,American Indian,0,0.00,0
2,2014,CAPE MAY,WILDWOOD CITY,5169720,WILDWOOD HIGH SCHOOL,Asian,0,0.00,0
3,2014,CAPE MAY,WILDWOOD CITY,5169720,WILDWOOD HIGH SCHOOL,Hispanic,0,0.00,0
4,2014,CAPE MAY,WILDWOOD CITY,5169720,WILDWOOD HIGH SCHOOL,Black,0,0.00,0
5,2014,CAPE MAY,WILDWOOD CITY,5169720,WILDWOOD HIGH SCHOOL,White,31,64.52,20
6,2014,CAPE MAY,WILDWOOD CITY,5169720,WILDWOOD HIGH SCHOOL,Two or More Races,0,0.00,0
7,2014,CAPE MAY,WILDWOOD CITY,5169720,WILDWOOD HIGH SCHOOL,Limited English Proficiency,0,0.00,0
8,2014,CAPE MAY,WILDWOOD CITY,5169720,WILDWOOD HIGH SCHOOL,Economically Disadvantaged,39,74.36,29
9,2014,CAPE MAY,WILDWOOD CITY,5169720,WILDWOOD HIGH SCHOOL,Students with Disability,0,0.00,0
10,2014,CAPE MAY,WILDWOOD CITY,5169720,Districtwide Total,Districtwide,77,68.83,53
11,2014,CAPE MAY,WILDWOOD CITY,5169720,Districtwide Total,Students with Disability,0,0.00,0
12,2014,CAPE MAY,WILDWOOD CITY,5169720,Districtwide Total,Economically Disadvantaged,39,74.36,29
13,2014,CAPE MAY,WILDWOOD CITY,5169720,Districtwide Total,Limited English Proficiency,0,0.00,0
14,2014,CAPE MAY,WILDWOOD CITY,5169720,Districtwide Total,Two or More Races,0,0.00,0
15,2014,CAPE MAY,WILDWOOD CITY,5169720,Districtwide Total,Native Hawaiian,0,0.00,0
16,2014,CAPE MAY,WILDWOOD CITY,5169720,Districtwide Total,American Indian,0,0.00,0
17,2014,CAPE MAY,WILDWOOD CITY,5169720,Districtwide Total,Asian,0,0.00,0
18,2014,CAPE MAY,WILDWOOD CITY,5169720,Districtwide Total,Hispanic,0,0.00,0
19,2014,CAPE MAY,WILDWOOD CITY,5169720,Districtwide Total,Black,0,0.00,0
20,2014,CAPE MAY,WILDWOOD CITY,5169720,Districtwide Total,White,31,64.52,20
21,2014,CAPE MAY,WILDWOOD CITY,5169720,WILDWOOD HIGH SCHOOL,Schoolwide,77,68.83,53
22,2014,CUMBERLAND,BRIDGETON CITY,79845066,Districtwide Total,Districtwide,307,71.01,218
23,2014,CUMBERLAND,BRIDGETON CITY,79845066,Districtwide Total,Students with Disability,49,44.90,22
24,2014,CUMBERLAND,BRIDGETON CITY,79845066,Districtwide Total,Economically Disadvantaged,256,69.92,179
25,2014,CUMBERLAND,BRIDGETON CITY,79845066,Districtwide Total,Limited English Proficiency,30,46.67,14
26,2014,CUMBERLAND,BRIDGETON CITY,79845066,Districtwide Total,Native Hawaiian,0,0.00,0
27,2014,CUMBERLAND,BRIDGETON CITY,79845066,Districtwide Total,Asian,0,0.00,0
28,2014,CUMBERLAND,BRIDGETON CITY,79845066,Districtwide Total,American Indian,0,0.00,0
29,2014,CUMBERLAND,BRIDGETON CITY,79845066,Districtwide Total,Hispanic,157,71.34,112
...,...,...,...,...,...,...,...,...,...
38980,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,English Learners,0,0.00,0
38981,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Homeless,0,0.00,0
38982,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Foster Care,0,0.00,0
38983,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Male,149,97.32,145
38984,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Female,170,99.41,169
38985,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Schoolwide,319,98.43,314
38986,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,White,276,98.19,271
38987,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Black or African American,13,100.00,13
38988,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Hispanic,13,100.00,13
38989,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Asian,10,100.00,10
38990,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,American Indian or Alaska Native,0,0.00,0
38991,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Native Hawaiian or Pacific Islander,0,0.00,0
38992,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Two or More Races,0,0.00,0
38993,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Economically Disadvantaged,26,100.00,26
38994,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Students with Disabilities,53,94.34,50
38995,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,English Learners,0,0.00,0
38996,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Homeless,0,0.00,0
38997,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Students with Disabilities,53,94.34,50
38998,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Foster Care,0,0.00,0
38999,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Economically Disadvantaged,26,100.00,26
39000,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Native Hawaiian or Pacific Islander,0,0.00,0
39001,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,White,276,98.19,271
39002,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Black or African American,13,100.00,13
39003,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Hispanic,13,100.00,13
39004,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Asian,10,100.00,10
39005,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,American Indian or Alaska Native,0,0.00,0
39006,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,Allentown High School,Two or More Races,0,0.00,0
39007,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Male,149,97.32,145
39008,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Female,170,99.41,169
39009,2018,MONMOUTH,UPPER FREEHOLD REGIONAL,5655615,District Total,Districtwide,319,98.43,314

# Scrape Census data

In [5]:
census_data = './data/citylocs_geocodio.csv'
census_data = pd.read_csv(census_data)
census_df = pd.DataFrame(census_data)
census_df.columns = census_df.columns.str.replace(" ", "_")

#Drop columns not required
census_df = census_df.drop(columns=['Street', 'Country', 'State'])

#Extract all the counties to be filtered from original dataset for census
lstCounty = budget_df["COUNTY_NAME"].str.strip().tolist()
lstUniqueCounty = pd.unique(lstCounty)

#converting census data to match frame county
census_df['County'] = census_df['County'].str.upper()
census_df['County'] = census_df['County'].str.replace('COUNTY','').str.strip()

#Filter only relevant data
census_filtered_df = census_df[census_df['County'].isin(lstUniqueCounty)]

 
census_filtered_df.head()

,DISTRICT_NAME,Latitude,Longitude,City,County,Zip,Number_of_households,Median_household_income,Median_age,Median_age_male,Median_age_female,"Population_by_minimum_level_of_education/Male:_12th_grade,_no_diploma",Population_by_minimum_level_of_education/Male:_High_school_graduate,Population_by_minimum_level_of_education/Female:_12th_grade_no_diploma,Population_by_minimum_level_of_education/Female:_High_school_graduate
0,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,43.6,0.000,0.210,0.000,0.193
1,WOODBURY CITY,39.8382,-75.1527,Woodbury,GLOUCESTER,8096,785.0,33205.0,43.0,41.7,44.3,0.015,0.450,0.000,0.368
2,WOODBRIDGE TWP,40.5576,-74.2846,Woodbridge,MIDDLESEX,7095,462.0,82870.0,41.9,38.7,43.2,0.033,0.496,0.000,0.427
3,WOOD-RIDGE BORO,40.8457,-74.0879,Wood Ridge,BERGEN,7075,250.0,0.0,40.0,39.9,43.0,0.000,0.356,0.000,0.407
4,WINSLOW TWP,39.6573,-74.8624,Winslow,CAMDEN,8095,487.0,91932.0,37.8,38.8,35.1,0.000,0.384,0.039,0.376

In [6]:
# Scrape population data
population_data = './data/census_pop.csv'
population_data = pd.read_csv(population_data)
population_df = pd.DataFrame(population_data)
population_df = population_df.rename(columns = {'Zipcode': 'Zip'})
population_df.head()

   Population   Zip
0     22121.0  1832
1      8295.0  1833
2      6675.0  1834
3     13527.0  1835
4      4547.0  1840

In [7]:
#Merging population with regional census data
pop_census_df = pd.merge(census_filtered_df,
                population_df,
                how='left',
                on='Zip')
pop_census_df

,DISTRICT_NAME,Latitude,Longitude,City,County,Zip,Number_of_households,Median_household_income,Median_age,Median_age_male,Median_age_female,"Population_by_minimum_level_of_education/Male:_12th_grade,_no_diploma",Population_by_minimum_level_of_education/Male:_High_school_graduate,Population_by_minimum_level_of_education/Female:_12th_grade_no_diploma,Population_by_minimum_level_of_education/Female:_High_school_graduate,Population
0,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,43.6,0.000,0.210,0.000,0.193,9129.0
1,WOODBURY CITY,39.8382,-75.1527,Woodbury,GLOUCESTER,8096,785.0,33205.0,43.0,41.7,44.3,0.015,0.450,0.000,0.368,35116.0
2,WOODBRIDGE TWP,40.5576,-74.2846,Woodbridge,MIDDLESEX,7095,462.0,82870.0,41.9,38.7,43.2,0.033,0.496,0.000,0.427,20722.0
3,WOOD-RIDGE BORO,40.8457,-74.0879,Wood Ridge,BERGEN,7075,250.0,0.0,40.0,39.9,43.0,0.000,0.356,0.000,0.407,8071.0
4,WINSLOW TWP,39.6573,-74.8624,Winslow,CAMDEN,8095,487.0,91932.0,37.8,38.8,35.1,0.000,0.384,0.039,0.376,180.0
5,WILLINGBORO TWP,40.0279,-74.8691,Willingboro,BURLINGTON,8046,703.0,76164.0,36.9,33.8,40.2,0.000,0.288,0.000,0.304,31731.0
6,WILDWOOD CITY,38.9918,-74.8149,Wildwood,CAPE MAY,8260,660.0,31020.0,45.9,47.2,45.7,0.045,0.556,0.024,0.437,13690.0
7,WESTWOOD REGIONAL,40.9912,-74.0326,Westwood,BERGEN,7675,478.0,90854.0,40.1,33.9,47.1,0.000,0.309,0.034,0.220,26540.0
8,WESTFIELD TOWN,40.6590,-74.3474,Westfield,UNION,7090,418.0,158810.0,45.3,49.4,43.6,0.000,0.073,0.000,0.104,30599.0
9,WEST ORANGE TOWN,40.7987,-74.2390,West Orange,ESSEX,7052,247.0,63164.0,51.1,44.8,56.1,0.056,0.432,0.000,0.461,46386.0
10,WEST NEW YORK TOWN,40.7880,-74.0143,West New York,HUDSON,7093,678.0,40714.0,39.2,37.6,39.6,0.058,0.336,0.035,0.294,61919.0
11,WEST MORRIS REGIONAL,40.8218,-74.4810,Morris Plains,MORRIS,7950,448.0,119048.0,35.0,38.2,34.7,0.000,0.224,0.000,0.305,19719.0
12,WEST MILFORD TWP,41.1312,-74.3674,West Milford,PASSAIC,7480,1152.0,36637.0,61.5,55.4,63.5,0.000,0.462,0.024,0.371,16881.0
13,WEST ESSEX REGIONAL,40.8648,-74.2582,Caldwell,ESSEX,7006,630.0,186471.0,50.6,48.8,51.4,0.000,0.089,0.000,0.259,25012.0
14,WEST DEPTFORD TWP,39.8334,-75.1996,Paulsboro,GLOUCESTER,8066,1841.0,80430.0,35.8,38.3,33.9,0.014,0.222,0.000,0.255,8484.0
15,WEEHAWKEN TWP,40.7695,-74.0204,Weehawken,HUDSON,7086,350.0,96667.0,40.8,37.9,45.4,0.000,0.042,0.012,0.141,12829.0
16,WAYNE TWP,40.9492,-74.2377,Wayne,PASSAIC,7470,181.0,250001.0,51.0,49.4,53.8,0.000,0.149,0.000,0.254,54849.0
17,WATCHUNG HILLS REGIONAL,40.6379,-74.4510,Watchung,SOMERSET,7069,740.0,127411.0,44.9,45.1,44.8,0.024,0.230,0.000,0.260,6130.0
18,WASHINGTON TWP,39.7334,-75.0746,Blackwood,GLOUCESTER,8012,459.0,98839.0,36.8,36.7,39.2,0.000,0.487,0.000,0.440,39703.0
19,WARREN HILLS REGIONAL,40.6084,-74.5163,Warren,SOMERSET,7059,902.0,203571.0,46.7,45.6,48.0,0.011,0.119,0.000,0.182,15574.0
20,WARREN COUNTY VOCATIONAL,40.6084,-74.5163,Warren,SOMERSET,7059,902.0,203571.0,46.7,45.6,48.0,0.011,0.119,0.000,0.182,15574.0
21,WALLKILL VALLEY REGIONAL,41.1534,-74.5763,Hamburg,SUSSEX,7419,264.0,86597.0,32.8,32.3,43.1,0.052,0.354,0.000,0.569,8800.0
22,WALLINGTON BORO,40.8532,-74.1138,Wallington,BERGEN,7057,596.0,54318.0,34.6,34.1,36.0,0.013,0.508,0.026,0.459,11432.0
23,WALL TWP,40.1743,-74.0902,Belmar,MONMOUTH,7719,618.0,125738.0,48.4,46.6,49.1,0.000,0.108,0.000,0.142,21769.0
24,WALDWICK BORO,41.0107,-74.1179,Waldwick,BERGEN,7463,469.0,102875.0,38.8,40.8,38.6,0.023,0.258,0.000,0.187,9704.0
25,W WINDSOR-PLAINSBORO REG,40.3020,-74.6190,Princeton Junction,MERCER,8550,700.0,201328.0,44.5,44.2,44.7,0.000,0.000,0.000,0.016,19357.0
26,VINELAND CITY,39.4862,-75.0257,Vineland,CUMBERLAND,8360,542.0,23671.0,34.2,28.7,41.0,0.000,0.676,0.012,0.341,43402.0
27,VERONA BORO,40.8298,-74.2401,Verona,ESSEX,7044,304.0,106731.0,47.4,45.1,49.0,0.000,0.149,0.000,0.117,13775.0
28,VERNON TWP,41.1984,-74.4832,Vernon,SUSSEX,7462,584.0,53478.0,45.4,45.0,46.1,0.029,0.328,0.000,0.223,7130.0
29,UPPER FREEHOLD REGIONAL,40.1376,-74.4940,Cream Ridge,MONMOUTH,8514,830.0,135714.0,44.8,46.9,43.3,0.000,0.315,0.017,0.258,4530.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,CAMDEN CITY,39.9448,-75.1199,Camden,CAMDEN,8102,105.0,20927.0,48.0,44.7,48.5,0.214,0.402,0.000,0.442,7382.0
267,Camden Academy Charter HS,39.9448,-75.1199,Camden,CAMDEN,8102,105.0,20927.0,48.0,44.7,48.5,0.214,0.402,0.000,0.442,7382.0
268,CALDWELL-WEST CALDWELL,40.8409,-74.3018,Caldwell,ESSEX,7006,366.0,107500.0,51.9,50.2,53.0,0.000,0.134,0.052,0.172,25012.0
269,BUTLER BORO,41.0037,-74.3415,Butler,MORRIS,7405,475.0,56746.0,32.3,29.0,33.3,0.046,0.525,0.000,0.430,17809.0
270,BURLINGTON TWP,40.0400,-74.8100,Burlington,BURLINGTON,8016,1279.0,127563.0,39.0,33.5,41.4,0.011,0.220,0.007,0.197,33162.0
271,BURLINGTON CO VOCATIONAL,40.0400,-74.8100,Burlington,BURLINGTON,8016,1279.0,127563.0,39.0,33.5,41.4,0.011,0.220,0.007,0.197,33162.0
272,BURLINGTON CITY,40.0712,-74.8649,Burlington,BURLINGTON,8016,280.0,0.0,46.2,23.0,55.1,0.088,0.637,0.000,0.247,33162.0
273,BUENA REGIONAL,39.5400,-74.9200,Landisville,ATLANTIC,8326,359.0,68287.0,42.3,49.1,33.4,0.000,0.377,0.000,0.367,1586.0
274,BRIDGEWATER-RARITAN REG,40.6008,-74.6481,Bridgewater,SOMERSET,8807,458.0,142813.0,50.6,39.1,55.9,0.000,0.279,0.000,0.391,38241.0
275,BRIDGETON CITY,39.4273,-75.2341,Bridgeton,CUMBERLAND,8302,318.0,28824.0,28.9,28.2,31.2,0.078,0.319,0.000,0.338,47895.0
276,BRICK TWP,40.0707,-74.1281,Brick,OCEAN,8724,367.0,63083.0,49.2,40.7,55.2,0.000,0.404,0.000,0.453,42866.0
277,BOUND BROOK BORO,40.5684,-74.5385,Bound Brook,SOMERSET,8805,343.0,66964.0,47.9,43.9,53.7,0.000,0.422,0.016,0.463,12340.0
278,BORDENTOWN REGIONAL,40.1200,-74.7100,Bordentown,BURLINGTON,8505,1152.0,91522.0,28.9,22.0,37.3,0.000,0.040,0.000,0.130,17223.0
279,BOONTON TOWN,40.9026,-74.4071,Boonton,MORRIS,7005,387.0,92716.0,40.7,43.1,36.1,0.028,0.197,0.037,0.201,15097.0
280,BOGOTA BORO,40.8762,-74.0299,Bogota,BERGEN,7603,471.0,77875.0,36.9,36.1,43.6,0.000,0.251,0.000,0.219,8231.0
281,BLOOMFIELD TWP,40.8068,-74.1854,Bloomfield,ESSEX,7003,289.0,79732.0,34.2,31.8,35.9,0.000,0.317,0.022,0.309,47442.0
282,BLACK HORSE PIKE REGIONAL,39.8676,-75.0946,Bellmawr,CAMDEN,8031,571.0,46382.0,41.5,41.4,43.4,0.052,0.371,0.030,0.350,11558.0
283,BERNARDS TWP,40.6834,-74.5746,Basking Ridge,SOMERSET,7920,624.0,180769.0,46.4,45.8,46.9,0.000,0.020,0.000,0.057,26397.0
284,BERKELEY HEIGHTS TWP,40.6834,-74.4427,Berkeley Heights,UNION,7922,347.0,66827.0,39.4,34.5,39.8,0.000,0.195,0.000,0.209,12200.0
285,BERGENFIELD BORO,40.9276,-73.9974,Bergenfield,BERGEN,7621,427.0,56719.0,45.0,45.3,43.8,0.014,0.293,0.014,0.249,26911.0
286,BERGEN COUNTY VOCATIONAL,40.8598,-74.0593,Teterboro,BERGEN,7608,387.0,45694.0,42.7,36.8,45.3,0.059,0.403,0.027,0.584,92.0
287,BELVIDERE TOWN,40.8298,-75.0777,Belvidere,WARREN,7823,395.0,42208.0,37.1,26.6,39.1,0.000,0.342,0.017,0.288,7546.0
288,BELLEVILLE TOWN,40.7937,-74.1501,Belleville,ESSEX,7109,259.0,77604.0,41.0,39.5,41.3,0.000,0.205,0.058,0.294,35973.0
289,BAYONNE CITY,40.6687,-74.1143,Bayonne,HUDSON,7002,425.0,49861.0,33.6,34.2,29.9,0.034,0.592,0.000,0.265,63819.0
290,BARNEGAT TWP,39.7532,-74.2229,Barnegat,OCEAN,8005,310.0,87788.0,50.2,48.6,52.4,0.000,0.120,0.000,0.435,22428.0
291,AUDUBON BORO,39.8909,-75.0730,Audubon,CAMDEN,8106,437.0,63872.0,45.2,48.5,43.7,0.000,0.437,0.013,0.205,9907.0
292,ATLANTIC CO VOCATIONAL,39.4500,-74.7200,Mays Landing,ATLANTIC,8330,855.0,54627.0,42.4,38.1,49.3,0.024,0.239,0.005,0.307,28371.0
293,ATLANTIC CITY,39.3643,-74.4229,Atlantic City,ATLANTIC,8401,306.0,37672.0,41.4,48.8,30.2,0.026,0.560,0.000,0.511,39591.0
294,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,40.2,0.000,0.306,0.000,0.330,39099.0
295,Academy Charter High School,40.1709,-74.0274,Belmar,MONMOUTH,7719,252.0,82500.0,31.9,30.3,43.6,0.027,0.322,0.032,0.291,21769.0

# Merge cencus and graduation data

In [8]:
popcensus_budget_df = pop_census_df.merge(budget_df, left_on=['County', 'DISTRICT_NAME'], right_on=['COUNTY_NAME', 'DISTRICT_NAME'], how='inner')
popcensus_budget_df

,DISTRICT_NAME,Latitude,Longitude,City,County,Zip,Number_of_households,Median_household_income,Median_age,Median_age_male,...,Population_by_minimum_level_of_education/Female:_High_school_graduate,Population,YEAR,COUNTY_NAME,DISTRICT_BUDGET,SCHOOL_NAME,SUBGROUP,FOUR_YR_ADJ_COHORT_COUNT,FOUR_YR_GRAD_RATE,GRADUATED_COUNT
0,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,WOODSTOWN HIGH SCHOOL,Native Hawaiian,0,0.00,0
1,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,WOODSTOWN HIGH SCHOOL,American Indian,0,0.00,0
2,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,WOODSTOWN HIGH SCHOOL,Asian,0,0.00,0
3,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,WOODSTOWN HIGH SCHOOL,Hispanic,0,0.00,0
4,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,WOODSTOWN HIGH SCHOOL,Black,0,0.00,0
5,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,WOODSTOWN HIGH SCHOOL,White,151,97.35,147
6,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,WOODSTOWN HIGH SCHOOL,Two or More Races,0,0.00,0
7,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,WOODSTOWN HIGH SCHOOL,Limited English Proficiency,0,0.00,0
8,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,WOODSTOWN HIGH SCHOOL,Students with Disability,0,0.00,0
9,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,WOODSTOWN HIGH SCHOOL,Economically Disadvantaged,0,0.00,0
10,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,Districtwide Total,Districtwide,181,97.24,176
11,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,Districtwide Total,Students with Disability,0,0.00,0
12,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,Districtwide Total,Economically Disadvantaged,0,0.00,0
13,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,Districtwide Total,Limited English Proficiency,0,0.00,0
14,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,Districtwide Total,Two or More Races,0,0.00,0
15,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,Districtwide Total,Native Hawaiian,0,0.00,0
16,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,Districtwide Total,American Indian,0,0.00,0
17,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,Districtwide Total,Asian,0,0.00,0
18,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,Districtwide Total,Hispanic,0,0.00,0
19,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,Districtwide Total,Black,0,0.00,0
20,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,Districtwide Total,White,151,97.35,147
21,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2014,SALEM,6950561,WOODSTOWN HIGH SCHOOL,Schoolwide,181,97.24,176
22,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2015,SALEM,6973801,Districtwide Total,Districtwide,177,97.74,173
23,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2015,SALEM,6973801,Districtwide Total,Students with Disability,34,91.18,31
24,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2015,SALEM,6973801,Districtwide Total,Economically Disadvantaged,40,95.00,38
25,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2015,SALEM,6973801,Districtwide Total,Limited English Proficiency,0,0.00,0
26,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2015,SALEM,6973801,Districtwide Total,Two or More Races,0,0.00,0
27,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2015,SALEM,6973801,Districtwide Total,Native Hawaiian,0,0.00,0
28,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2015,SALEM,6973801,Districtwide Total,American Indian,0,0.00,0
29,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,Woodstown,SALEM,8098,406.0,95938.0,40.7,33.3,...,0.193,9129.0,2015,SALEM,6973801,Districtwide Total,Asian,0,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37262,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Male,56,76.79,43
37263,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Female,38,92.11,35
37264,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Districtwide,94,82.98,78
37265,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Foster Care,0,0.00,0
37266,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Homeless,0,0.00,0
37267,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Students with Disabilities,21,57.14,12
37268,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Two or More Races,0,0.00,0
37269,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Economically Disadvantaged,73,84.93,62
37270,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Students with Disabilities,21,57.14,12
37271,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,English Learners,18,88.89,16
37272,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Homeless,0,0.00,0
37273,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Foster Care,0,0.00,0
37274,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Male,56,76.79,43
37275,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Female,38,92.11,35
37276,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Schoolwide,94,82.98,78
37277,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,White,0,0.00,0
37278,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Black or African American,59,88.14,52
37279,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Hispanic,30,73.33,22
37280,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Asian,0,0.00,0
37281,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,American Indian or Alaska Native,0,0.00,0
37282,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Native Hawaiian or Pacific Islander,0,0.00,0
37283,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Two or More Races,0,0.00,0
37284,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,Economically Disadvantaged,73,84.93,62
37285,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Native Hawaiian or Pacific Islander,0,0.00,0
37286,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,American Indian or Alaska Native,0,0.00,0
37287,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Asian,0,0.00,0
37288,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Hispanic,30,73.33,22
37289,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,District Total,English Learners,18,88.89,16
37290,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,White,0,0.00,0
37291,ASBURY PARK CITY,40.2204,-74.0121,Asbury Park,MONMOUTH,7712,566.0,57857.0,47.4,47.6,...,0.330,39099.0,2018,MONMOUTH,54448308,Asbury Park High School,Black or African American,59,88.14,52

In [9]:
# clean merged data set
popcensus_budget_df = popcensus_budget_df[popcensus_budget_df.GRADUATED_COUNT !=0]

# convert the dataframe to a diciontary, which can be pushed to mongo
final_dict = popcensus_budget_df.to_dict('records')

# create mongo collection
collection = db.education_data
# drop collection if duplicate
db.collection.drop()
# add data to collection
collection.insert_many(final_dict)

# df.to_csv(r'Path where you want to store the exported CSV file\File Name.csv')
popcensus_budget_df.to_csv(r'./data/merge_data.csv')