In [33]:
import pandas as pd
import datetime
import pymongo
import json
from bson import Binary, Code, json_util, ObjectId
from bson.json_util import dumps, RELAXED_JSON_OPTIONS
import pygeoj
import os
import itertools 
import numpy as np
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from us import states

In [34]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.education_data
# collection = db.grad_data_2013

In [49]:
# files
rootdir = './data/4YearGraduation'

# lists defined
districts_list = []
years = ['2018','2015','2014','2016','2017']

# for loop to get all files
for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        data = os.path.join(subdir, file)
        districts_list.append(data)
#         districts_list.sort()
districts_list.pop(0)
# districts_list.reverse()
grad_df=[]
#  add all 4 year graduation from 2013 to 2018 to mongod
for (file, year) in zip(districts_list, years):
    data = file
#     defined variables labels
    grad_label = "grad_"+ year
    df_label = grad_label +"_df"
    
#     Read data & add to dataframe
    grad_label = pd.read_csv(data)
    df_label = pd.DataFrame(grad_label)

#     replace * with 0
    df_label['FOUR_YR_GRAD_RATE'] = df_label['FOUR_YR_GRAD_RATE'].str.replace('*','0')
    df_label['FOUR_YR_ADJ_COHORT_COUNT'] = df_label['FOUR_YR_ADJ_COHORT_COUNT'].str.replace('*','0')
    df_label['GRADUATED_COUNT'] = df_label['GRADUATED_COUNT'].str.replace('*','0')
    df_label['FOUR_YR_GRAD_RATE'] = df_label['FOUR_YR_GRAD_RATE'].str.replace('-','0')
    df_label['FOUR_YR_ADJ_COHORT_COUNT'] = df_label['FOUR_YR_ADJ_COHORT_COUNT'].str.replace('-','0')
    df_label['GRADUATED_COUNT'] = df_label['GRADUATED_COUNT'].str.replace('-','0')
    # set previous change to numeric (int)
    df_label['FOUR_YR_GRAD_RATE'] = pd.to_numeric(df_label['FOUR_YR_GRAD_RATE'])
    df_label['FOUR_YR_ADJ_COHORT_COUNT'] = pd.to_numeric(df_label['FOUR_YR_ADJ_COHORT_COUNT'])
    df_label['GRADUATED_COUNT'] = pd.to_numeric(df_label['GRADUATED_COUNT'])
    grad_df.append(df_label)
    
frame = pd.concat(grad_df, axis=0, ignore_index=True)

frame = frame.filter(['YEAR','COUNTY_NAME', 'DISTRICT_NAME','SCHOOL_NAME','SUBGROUP','FOUR_YR_ADJ_COHORT_COUNT','FOUR_YR_GRAD_RATE','GRADUATED_COUNT'])

frame = frame.sort_values(by=['YEAR'])
frame
#     sum_df = df_label.groupby(['COUNTY_NAME', 'SUBGROUP']).agg({'GRADUATED_COUNT': 'sum'}).reset_index()
#     sum_to_dic = sum_df.to_dict('records')
    
#     city_sum = df_label.groupby(['DISTRICT_NAME', 'SUBGROUP','SCHOOL_NAME']).agg({'FOUR_YR_GRAD_RATE': 'sum','GRADUATED_COUNT': 'sum'}).reset_index()
#     city_to_dic = city_sum.to_dict('records')
    
#     #     add data to dictionary
#     dic_label = df_label.to_dict('records')
    
# #     drop collection if duplicate
#     db.collection.drop()
# #     add data to collection
#     collection.insert_many(dic_label)
    
#     db_county = 'county_grad_total' + year
#     collection_county = db[db_county]
    
#     db.collection_county.drop()
#     collection_county.insert_many(sum_to_dic)
    
#     db_district = 'district_grad_total' + year
#     collection_district = db[db_district]
    
#     db.collection_district.drop()
#     collection_district.insert_many(city_to_dic)

/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:41: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,YEAR,COUNTY_NAME,DISTRICT_NAME,SCHOOL_NAME,SUBGROUP,FOUR_YR_ADJ_COHORT_COUNT,FOUR_YR_GRAD_RATE,GRADUATED_COUNT
20992,2014,ESSEX,ESSEX CO VOC-TECH,Districtwide Total,Economically Disadvantaged,407,96.31,392
21127,2014,ESSEX,NEWARK CITY,CENTRAL HIGH SCHOOL,White,0,0.00,0
21128,2014,ESSEX,NEWARK CITY,CENTRAL HIGH SCHOOL,Black,205,80.98,166
21129,2014,ESSEX,NEWARK CITY,CENTRAL HIGH SCHOOL,Hispanic,0,0.00,0
21130,2014,ESSEX,NEWARK CITY,CENTRAL HIGH SCHOOL,Asian,0,0.00,0
21131,2014,ESSEX,NEWARK CITY,CENTRAL HIGH SCHOOL,American Indian,0,0.00,0
21132,2014,ESSEX,NEWARK CITY,CENTRAL HIGH SCHOOL,Native Hawaiian,0,0.00,0
21133,2014,ESSEX,NEWARK CITY,CENTRAL HIGH SCHOOL,Two or More Races,0,0.00,0
21134,2014,ESSEX,NEWARK CITY,CENTRAL HIGH SCHOOL,Limited English Proficiency,0,0.00,0
21135,2014,ESSEX,NEWARK CITY,CENTRAL HIGH SCHOOL,Economically Disadvantaged,177,84.75,150
21136,2014,ESSEX,NEWARK CITY,CENTRAL HIGH SCHOOL,Students with Disability,44,68.18,30
21137,2014,ESSEX,NEWARK CITY,CENTRAL HIGH SCHOOL,Schoolwide,231,80.95,187
21138,2014,ESSEX,NEWARK CITY,EAST SIDE HIGH SCHOOL,White,126,73.81,93
21139,2014,ESSEX,NEWARK CITY,EAST SIDE HIGH SCHOOL,Black,55,74.55,41
21140,2014,ESSEX,NEWARK CITY,EAST SIDE HIGH SCHOOL,Hispanic,204,75.49,154
21141,2014,ESSEX,NEWARK CITY,EAST SIDE HIGH SCHOOL,Asian,0,0.00,0
21142,2014,ESSEX,NEWARK CITY,EAST SIDE HIGH SCHOOL,American Indian,0,0.00,0
21143,2014,ESSEX,NEWARK CITY,EAST SIDE HIGH SCHOOL,Native Hawaiian,0,0.00,0
21144,2014,ESSEX,NEWARK CITY,EAST SIDE HIGH SCHOOL,Two or More Races,0,0.00,0
21145,2014,ESSEX,NEWARK CITY,EAST SIDE HIGH SCHOOL,Limited English Proficiency,80,72.50,58
21146,2014,ESSEX,NEWARK CITY,EAST SIDE HIGH SCHOOL,Economically Disadvantaged,279,76.34,213
21147,2014,ESSEX,NEWARK CITY,EAST SIDE HIGH SCHOOL,Students with Disability,61,65.57,40
21148,2014,ESSEX,NEWARK CITY,EAST SIDE HIGH SCHOOL,Schoolwide,392,75.00,294
21149,2014,ESSEX,NEWARK CITY,NEWARK VOCATIONAL HIGH SCHOOL,White,0,0.00,0
21150,2014,ESSEX,NEWARK CITY,NEWARK VOCATIONAL HIGH SCHOOL,Black,69,47.83,33
21151,2014,ESSEX,NEWARK CITY,NEWARK VOCATIONAL HIGH SCHOOL,Hispanic,0,0.00,0
21126,2014,ESSEX,NEWARK CITY,BARRINGER HIGH SCHOOL,Schoolwide,468,52.35,245
21125,2014,ESSEX,NEWARK CITY,BARRINGER HIGH SCHOOL,Students with Disability,121,42.15,51
21124,2014,ESSEX,NEWARK CITY,BARRINGER HIGH SCHOOL,Economically Disadvantaged,344,51.74,178
21123,2014,ESSEX,NEWARK CITY,BARRINGER HIGH SCHOOL,Limited English Proficiency,83,57.83,48
...,...,...,...,...,...,...,...,...
7238,2018,MORRIS,MOUNT OLIVE TWP,District Total,Students with Disabilities,59,93.22,55
7237,2018,MORRIS,MOUNT OLIVE TWP,District Total,Economically Disadvantaged,37,89.19,33
7236,2018,MORRIS,MOUNT OLIVE TWP,District Total,Two or More Races,0,0.00,0
7235,2018,MORRIS,MOUNT OLIVE TWP,District Total,Native Hawaiian or Pacific Islander,0,0.00,0
7234,2018,MORRIS,MOUNT OLIVE TWP,District Total,American Indian or Alaska Native,0,0.00,0
7233,2018,MORRIS,MOUNT OLIVE TWP,District Total,Asian,30,100.00,30
7250,2018,MORRIS,MOUNTAIN LAKES BORO,Mountain Lakes High School,Native Hawaiian or Pacific Islander,0,0.00,0
7251,2018,MORRIS,MOUNTAIN LAKES BORO,Mountain Lakes High School,Two or More Races,0,0.00,0
7252,2018,MORRIS,MOUNTAIN LAKES BORO,Mountain Lakes High School,Economically Disadvantaged,0,0.00,0
7253,2018,MORRIS,MOUNTAIN LAKES BORO,Mountain Lakes High School,Students with Disabilities,35,85.71,30
7271,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,Foster Care,0,0.00,0
7270,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,Homeless,0,0.00,0
7269,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,English Learners,0,0.00,0
7268,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,Students with Disabilities,35,85.71,30
7267,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,Economically Disadvantaged,0,0.00,0
7266,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,Two or More Races,0,0.00,0
7265,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,Native Hawaiian or Pacific Islander,0,0.00,0
7264,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,American Indian or Alaska Native,0,0.00,0
7273,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,Female,95,96.84,92
7263,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,Asian,17,100.00,17
7261,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,Black or African American,0,0.00,0
7260,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,White,152,96.05,146
7259,2018,MORRIS,MOUNTAIN LAKES BORO,Mountain Lakes High School,Schoolwide,182,96.15,175
7258,2018,MORRIS,MOUNTAIN LAKES BORO,Mountain Lakes High School,Female,95,96.84,92
7257,2018,MORRIS,MOUNTAIN LAKES BORO,Mountain Lakes High School,Male,87,95.40,83
7256,2018,MORRIS,MOUNTAIN LAKES BORO,Mountain Lakes High School,Foster Care,0,0.00,0
7255,2018,MORRIS,MOUNTAIN LAKES BORO,Mountain Lakes High School,Homeless,0,0.00,0
7254,2018,MORRIS,MOUNTAIN LAKES BORO,Mountain Lakes High School,English Learners,0,0.00,0
7262,2018,MORRIS,MOUNTAIN LAKES BORO,District Total,Hispanic,12,91.67,11
0,2018,ATLANTIC,ATLANTIC CITY,Atlantic City High School,White,85,89.41,76

In [43]:
# files
rootdir = './data/district'

# lists defined
budget_list = []
years = ['2017_2018','2016_2017','2015_2016','2014_2015','2013_2014']

# for loop to get all files
for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        data = os.path.join(subdir, file)
        budget_list.append(data)
        budget_list.sort()
        budget_list.reverse()
        

df_budget=[]
#  add all 4 year graduation from 2013 to 2018 to mongod
for (file, year) in zip(budget_list, years):
    data = file
#     defined variables labels
    budget_label = "district_budget"+ year
    df_label = budget_label +"_df"    
    
#     Read data & add to dataframe
    grad_label = pd.read_csv(data)
    df_label = pd.DataFrame(grad_label)
    df_label = df_label.filter(['YEAR','COUNTY_NAME', 'DISTRICT_NAME','TOTAL'])
#     df.rename(index=str, columns={"A": "a", "C": "c"})
    df_label = df_label.rename(index=str, columns={"TOTAL": "TOTAL_BUDGET"})
#     df["a"] = pd.to_numeric(df["a"])
#     df_label["YEAR"] = pd.to_numeric(df_label["YEAR"])
    df_budget.append(df_label)

frame_budget = pd.concat(df_budget, axis=0, ignore_index=True)
frame_budget = frame_budget.sort_values(by=['YEAR'])
frame_budget.head()

      YEAR COUNTY_NAME        DISTRICT_NAME  TOTAL_BUDGET
2906  2014      WARREN            WHITE TWP       1734369
2522  2014    CAPE MAY        WOODBINE BORO       2948581
2521  2014    CAPE MAY  WILDWOOD CREST BORO        504458
2520  2014    CAPE MAY        WILDWOOD CITY       5169720
2519  2014    CAPE MAY        WEST WILDWOOD         38136

In [44]:
census_data = './data/citylocs_geocodio.csv'
census_data = pd.read_csv(census_data)
census_df = pd.DataFrame(census_data)
census_df.head()
census_df.columns = census_df.columns.str.replace(" ", "_")
census_df.head()

,DISTRICT_NAME,Latitude,Longitude,Street,City,State,County,Zip,Country,Number_of_households,Median_household_income,Median_age,Median_age_male,Median_age_female,"Population_by_minimum_level_of_education/Male:_12th_grade,_no_diploma",Population_by_minimum_level_of_education/Male:_High_school_graduate,Population_by_minimum_level_of_education/Female:_12th_grade_no_diploma,Population_by_minimum_level_of_education/Female:_High_school_graduate
0,WOODSTOWN-PILESGROVE REG,39.6515,-75.3282,N Main St,Woodstown,NJ,Salem County,8098,US,406.0,95938.0,40.7,33.3,43.6,0.000,0.210,0.000,0.193
1,WOODBURY CITY,39.8382,-75.1527,N Broad St,Woodbury,NJ,Gloucester County,8096,US,785.0,33205.0,43.0,41.7,44.3,0.015,0.450,0.000,0.368
2,WOODBRIDGE TWP,40.5576,-74.2846,Amboy Ave,Woodbridge,NJ,Middlesex County,7095,US,462.0,82870.0,41.9,38.7,43.2,0.033,0.496,0.000,0.427
3,WOOD-RIDGE BORO,40.8457,-74.0879,2nd St,Wood Ridge,NJ,Bergen County,7075,US,250.0,0.0,40.0,39.9,43.0,0.000,0.356,0.000,0.407
4,WINSLOW TWP,39.6573,-74.8624,Hall St,Winslow,NJ,Camden County,8095,US,487.0,91932.0,37.8,38.8,35.1,0.000,0.384,0.039,0.376

In [45]:
population_data = './data/census_pop.csv'
population_data = pd.read_csv(population_data)
population_df = pd.DataFrame(population_data)
population_df = population_df.rename(columns = {'Zipcode': 'Zip'})
population_df.head()

   Population   Zip
0     22121.0  1832
1      8295.0  1833
2      6675.0  1834
3     13527.0  1835
4      4547.0  1840

In [46]:
result_df = pd.merge(census_df,
                population_df,
                how='left',
                on='Zip'
                )

In [51]:
result = pd.merge(frame,
                frame_budget,
                how='left',
                on='DISTRICT_NAME'
                )
final_df = pd.merge(result, result_df, how ='left', on = 'DISTRICT_NAME')

final_df = final_df.drop(columns=['YEAR_y', 'COUNTY_NAME_y'],  axis=1)

final_dict = final_df.to_dict('records')
final_dict

collection = db.education_data
# drop collection if duplicate
db.collection.drop()
# add data to collection
collection.insert_many(final_dict)